<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Webpack Test</title>
    </head>
    <body>
        <% for (const link of compilation.entrypoints.get('init').getFiles()) { %>
        <script type="text/javascript" src="<%= link %>"></script>
        <% } %>

        <script type="text/javascript">
            storage.add('b', 2);
        </script>
        
        <% const alreadyIncludedFiles = new Set(compilation.entrypoints.get('init').getFiles()) %> 
        <% for (const link of htmlWebpackPlugin.files.js.filter(function(item) { return !alreadyIncludedFiles.has(item) } )) { %>
        <script type="text/javascript" src="<%= link %>"></script>
        <% } %>
    </body>
</html>
